:root {
  --window_border_color: #484c51;
  --window_title_color: #ffffff;
  --window_background_color: #f0f0f0;
}

body
{
	overflow:hidden;
	margin:0px;
	padding:0px;
}

#window_container
{
	overflow:hidden;
	margin:0px;
	padding:0px;
}

.window
{
		position:absolute;
}

.window_border
{
  border: 2px solid var(--window_border_color);
  border-radius: 2px;
	background-color: var(--window_background_color);
}

.window_title_text
{
   color: var(--window_title_color);
}

.window_title_bar div
{
	display: inline;
}

.window_title_bar
{
	background-color:var(--window_border_color);
  border-bottom: 2px solid var(--window_border_color);
}

.window_button
{
	height:15px;
	width:15px;
	margin:3px;
	float:right;
}

.window_button:hover
{
	height:15px;
	width:15px;
	margin:3px;
  filter: brightness(200%);
  border-radius: 50%;
	float:right;
}

